<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.system.mapper.AbbProcessingResultMapper">

    <!-- C++算法处理结果分页列表 -->
    <select id="getProcessingResultPage" resultType="com.youlai.boot.system.model.bo.ProcessingResultBO">
        SELECT
            id,
            upload_dir AS uploadDir,
            create_time AS createTime,
            update_time AS updateTime,
            is_deleted AS isDeleted
        FROM
            abb_processing_result
        <where>
            is_deleted = 0
            <if test='queryParams.uploadDir!=null and queryParams.uploadDir.trim() neq ""'>
                AND upload_dir LIKE CONCAT('%',#{queryParams.uploadDir},'%')
            </if>
        </where>
        <choose>
            <!-- 如果排序参数都传入 -->
            <when test="queryParams.field != null and queryParams.field != '' and queryParams.direction != null">
                ORDER BY ${queryParams.field} ${queryParams.direction}
            </when>
            <!-- 默认排序 -->
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
    </select>

</mapper>
