<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.system.mapper.RealtimeScheduleMapper">

    <!-- 实时调度分页列表 -->
    <select id="getRealtimeSchedulePage" resultType="com.youlai.boot.system.model.bo.RealtimeScheduleBO">
        SELECT
            r.id,
            r.fault_code,
            r.fault_info,
            r.fault_type,
            r.fault_status,
            r.timeout_count,
            r.timeout_workpiece_id,
            r.timeout_worker_id,
            r.timeout_ratio,
            r.create_time,
            r.update_time
        FROM
            abb_realtime_schedule  r
        <where>
            r.is_deleted = 0
            <if test='queryParams.faultCode!=null and queryParams.faultCode.trim() neq ""'>
                AND r.fault_code LIKE CONCAT('%',#{queryParams.faultCode},'%')
            </if>
            <if test='queryParams.faultType!=null'>
                AND r.fault_type = #{queryParams.faultType}
            </if>
            <if test='queryParams.faultStatus!=null'>
                AND r.fault_status = #{queryParams.faultStatus}
            </if>
            <if test='queryParams.timeoutWorkpieceId!=null'>
                AND r.timeout_workpiece_id = #{queryParams.timeoutWorkpieceId}
            </if>
            <if test='queryParams.timeoutWorkerId!=null'>
                AND r.timeout_worker_id = #{queryParams.timeoutWorkerId}
            </if>
        </where>
        <choose>
            <!-- 如果排序参数都传入 -->
            <when test="queryParams.field != null and queryParams.field != '' and queryParams.direction != null">
                ORDER BY r.${queryParams.field} ${queryParams.direction}
            </when>
            <!-- 默认排序 -->
            <otherwise>
                ORDER BY r.id DESC
            </otherwise>
        </choose>
    </select>

    <!-- 实时调度表单信息映射 -->
    <resultMap id="RealtimeScheduleFormMap" type="com.youlai.boot.system.model.form.RealtimeScheduleForm">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="faultCode" column="fault_code" jdbcType="VARCHAR"/>
        <result property="faultInfo" column="fault_info" jdbcType="VARCHAR"/>
        <result property="faultType" column="fault_type" jdbcType="VARCHAR"/>
        <result property="faultStatus" column="fault_status" jdbcType="VARCHAR"/>
        <result property="timeoutCount" column="timeout_count" jdbcType="INTEGER"/>
        <result property="timeoutWorkpieceId" column="timeout_workpiece_id" jdbcType="VARCHAR"/>
        <result property="timeoutWorkerId" column="timeout_worker_id" jdbcType="VARCHAR"/>
        <result property="timeoutRatio" column="timeout_ratio" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 根据实时调度ID获取表单数据 -->
    <select id="getRealtimeScheduleFormData" resultMap="RealtimeScheduleFormMap">
        SELECT
            id,
            fault_code,
            fault_info,
            fault_type,
            fault_status,
            timeout_count,
            timeout_workpiece_id,
            timeout_worker_id,
            timeout_ratio
        FROM
            abb_realtime_schedule
        WHERE
            id = #{realtimeScheduleId} AND is_deleted = 0
    </select>

</mapper>