<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.system.mapper.EmployeeTaskMapper">

    <!-- 员工任务分页列表查询 -->
    <select id="getEmployeeTaskPage" resultType="com.youlai.boot.system.model.vo.EmployeeTaskPageVO">
        SELECT
        id,
        emp_id AS empId,
        emp_name AS empName,
        task_type AS taskType,
        sn_code1 AS snCode1,
        sn_code2 AS snCode2,
        sn_code3 AS snCode3,
        sn_code4 AS snCode4,
        sn_code5 AS snCode5,
        sn_code6 AS snCode6,
        sn_code7 AS snCode7,
        sn_code8 AS snCode8,
        sn_code9 AS snCode9,
        sn_code10 AS snCode10,
        create_time AS createTime,
        update_time AS updateTime
        FROM
        fqc_employee_task
        <where>
            is_deleted = 0
            <!-- 员工ID精确查询 -->
            <if test="queryParams.empId != null and queryParams.empId.trim() neq ''">
                AND emp_id = #{queryParams.empId}
            </if>
            <!-- 员工姓名模糊查询 -->
            <if test="queryParams.empName != null and queryParams.empName.trim() neq ''">
                AND emp_name LIKE CONCAT('%', #{queryParams.empName}, '%')
            </if>
            <!-- 任务类型精确查询 -->
            <if test="queryParams.taskType != null">
                AND task_type = #{queryParams.taskType}
            </if>
            <!-- SN号模糊查询(匹配sn_code1~sn_code10) -->
            <if test="queryParams.snCode != null and queryParams.snCode.trim() neq ''">
                AND (
                sn_code1 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code2 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code3 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code4 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code5 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code6 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code7 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code8 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code9 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                OR sn_code10 LIKE CONCAT('%', #{queryParams.snCode}, '%')
                )
            </if>
        </where>
        <!-- 优先级： 先按更新时间→再按任务类型排序 → 后按任务序号 -->
        ORDER BY updateTime DESC, task_type ASC
    </select>

</mapper>
