<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.system.mapper.TransitionMapper">

    <!-- 变迁分页列表 -->
    <select id="getTransitionPage" resultType="com.youlai.boot.system.model.bo.TransitionBO">
        SELECT
            t.id,
            t.transition_name,
            t.pre_place,
            t.post_place,
            t.place_check_flag,
            t.place_lock_flag,
            t.create_time,
            t.update_time
        FROM
            abb_transition_def t
        <where>
            t.is_deleted = 0
            <if test='queryParams.transitionName!=null and queryParams.transitionName.trim() neq ""'>
                AND t.transition_name LIKE CONCAT('%',#{queryParams.transitionName},'%')
            </if>
            <if test='queryParams.prePlace!=null and queryParams.prePlace.trim() neq ""'>
                AND t.pre_place LIKE CONCAT('%',#{queryParams.prePlace},'%')
            </if>
            <if test='queryParams.postPlace!=null and queryParams.postPlace.trim() neq ""'>
                AND t.post_place LIKE CONCAT('%',#{queryParams.postPlace},'%')
            </if>
        </where>
        <choose>
            <!-- 如果排序参数都传入 -->
            <when test="queryParams.field != null and queryParams.field != '' and queryParams.direction != null">
                ORDER BY t.${queryParams.field} ${queryParams.direction}
            </when>
            <!-- 默认排序 -->
            <otherwise>
                ORDER BY t.id DESC
            </otherwise>
        </choose>
    </select>

    <!-- 变迁表单信息映射 -->
    <resultMap id="TransitionFormMap" type="com.youlai.boot.system.model.form.TransitionForm">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="transitionName" column="transition_name" jdbcType="VARCHAR"/>
        <result property="prePlace" column="pre_place" jdbcType="VARCHAR"/>
        <result property="postPlace" column="post_place" jdbcType="VARCHAR"/>
        <result property="placeCheckFlag" column="place_check_flag" jdbcType="BOOLEAN"/>
        <result property="placeLockFlag" column="place_lock_flag" jdbcType="BOOLEAN"/>
    </resultMap>

    <!-- 根据变迁ID获取变迁表单数据 -->
    <select id="getTransitionFormData" resultMap="TransitionFormMap">
        SELECT
            id,
            transition_name,
            pre_place,
            post_place,
            place_check_flag,
            place_lock_flag
        FROM
            abb_transition_def
        WHERE
            id = #{transitionId} AND is_deleted = 0
    </select>

</mapper>